.container-fluid{
    margin-top: 15px;
    margin-right: -7px;
}
.graNDc {
    background: #fff !important;
    color: hsl(0, 0%, 0%) !important;
    border: 1px solid lightgrey !important;
    margin-top: -23px !important;
}
.eslRuw a {
    color: hsl(0, 0%, 0%) !important;
}
.head-div{
    padding-bottom: 0px !important;
}
.app{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px;
}